body {
    position: relative;
}

.App {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    position: absolute;
    left: 8.26%;
    top: 10.56%;
    color: #000;
    font-weight: 400;
}

.head h1,
.learn-more:hover,
.carousel-card h2 {
    font-weight: 800;
}

.head h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.head p {
    margin-top: 1%;
    font-size: 20px;
}

.carousel-container {
    margin-top: 60px;
    height: 519px;
    display: inline-flex;
    overflow-x: hidden;
    width: 100vw;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    width: 384px;
}

.carousel-card img {
    height: 220px;
    align-items: center;
}

.carousel-card h2 {
    font-size: 32px;
}

/*.opaque {
    grid-column: 4 / span 2;
    background-color: aquamarine;
    z-index: 3;
    height: 519px;
}*/

.learn-more {
    border: 1px solid #340d70;
    border-radius: 4px;
    color: #340d70;
    background-color: white;
    width: 152px;
    height: 52px;
    text-align: center;
    line-height: 23px;
}

.learn-more:hover {
    border: 2px solid #340d70;
}
